[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/app/movie-posters-convnet
Environment="PATH=/app/movie-posters-convnet/env/bin"
ExecStart=/app/movie-posters-convnet/env/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target